/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
   background-image: url('https://wallpaperaccess.com/full/1534495.jpg'); 
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}
 
html, body { height: max-content; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
