/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
   background-image: url('https://www.desktopbackground.org/download/2048x1152/2013/05/20/578886_most-beautiful-travel-destinations-4k-or-hd-wallpapers-for-your-pc_2048x1366_h.jpg'); 
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}
 
html, body { height: max-content; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
